@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

:root {
  --primary-color: #001F3F;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none !important;
}